---
import type { Page } from 'astro'

import PageTitle from '@/components/PageTitle.astro'
import PageLayout from '@/layouts/PageLayout.astro'

import Pagination from '@/components/Pagination.astro'

import { getPostsData } from '@/lib/data/posts-provider'
import PostPreview from '@/components/PostPreview.astro'

// @ts-ignore
export async function getStaticPaths({ paginate }) {
  const posts = await getPostsData()
  return paginate(posts, { pageSize: 30 })
}

interface Props {
  page: Page
}

const { page } = Astro.props
const { data: posts } = page
---

<PageLayout metaTitle='Posts'>
  <PageTitle title='Posts' />

  {page.total == 0 && <p>No posts published.</p>}

  <!-- LIST VIEW -->
  <ul class='space-y-4'>
    {
      posts.map(p => (
        <li class='flex flex-col gap-x-2 sm:flex-row'>
          <PostPreview post={p} />
        </li>
      ))
    }
  </ul>

  {(page.url.next || page.url.prev) && <Pagination page={page} />}
</PageLayout>
