---
import PageLayout from '@/layouts/PageLayout.astro'

import { socialNetwork } from '@/lib/social-network-links'
import Icons, { type IconKey } from '@/components/icons/Icons.astro'

import { getPostsData } from '@/lib/data/posts-provider'
import PostPreview from '@/components/PostPreview.astro'

const data = await getPostsData(20)
---

<PageLayout metaTitle='Last week'>
  <section class='space-y-6'>
    <div class='flex flex-col gap-4'>
      <p
        class='max-w-[42rem] leading-normal text-muted-foreground sm:text-lg sm:leading-8'
      >
        Discover the latest in Flutter and Dart week by week—awe-inspiring
        articles, cutting-edge tutorials, game-changing packages, and
        mind-blowing videos.
      </p>

      <div class='space-y-2'>
        <div class='flex space-x-2 items-center'>
          <p class='text-muted-foreground'>Curated by:</p>
          <div class='font-bold'>James Cardona</div>
        </div>
        <div class='flex space-x-2 items-center'>
          <p class='text-muted-foreground'>Find me on</p>
          <ul class='flex items-center gap-4'>
            {
              Object.keys(socialNetwork).map(key => {
                const element = socialNetwork[key]
                return (
                  <li>
                    <Icons href={element.link} kind={element.icon as IconKey} />
                  </li>
                )
              })
            }
          </ul>
        </div>
      </div>

      <section aria-label='Newsletter post list' class='mt-16'>
        <h2 class='font-semibold mb-4 text-xl'>Posts</h2>
        <ul class='space-y-4'>
          {
            data.map(p => (
              <li class='flex flex-col gap-x-2 sm:flex-row'>
                <PostPreview post={p} />
              </li>
            ))
          }
        </ul>
      </section>

      <!-- <Subscribe class='mt-16 sm:mt-24' /> -->
    </div>
  </section>
</PageLayout>
