---
import PageLayout from '@/layouts/PageLayout.astro'

import Link from '@/components/Link.astro'
import { socialNetwork } from '@/lib/social-network-links'
import Icons, { type IconKey } from '@/components/icons/Icons.astro'
---

<PageLayout metaTitle='Home Page'>
  <section class='space-y-6'>
    <div class='flex flex-col gap-4'>
      <h1 class='text-3xl font-heading'>Last week - Newsletter</h1>
      <p
        class='max-w-[42rem] leading-normal text-muted-foreground sm:text-lg sm:leading-8'
      >
        Astro is a dynamic static site generator that harmoniously integrates
        with Tailwind CSS. It empowers you to construct websites effortlessly
        and swiftly, all while maintaining optimal performance.
      </p>

      <div class='space-y-2'>
        <div class='flex space-x-2 items-center'>
          <p class='text-muted-foreground'>Curated by:</p>
          <div class='font-bold'>James Cardona</div>
        </div>
        <div class='flex space-x-2 items-center'>
          <p class='text-muted-foreground'>Find me on</p>
          <ul class='flex items-center gap-4'>
            {
              Object.keys(socialNetwork).map(key => {
                const element = socialNetwork[key]
                return (
                  <li>
                    <Link href={element.link} class='flex items-center'>
                      <Icons kind={element.icon as IconKey} />
                    </Link>
                  </li>
                )
              })
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</PageLayout>
