---
interface Props {
  date: Date
}

const { date } = Astro.props

const ndate = date

const dateFormat = new Intl.DateTimeFormat('en-us', {
  year: 'numeric',
  month: 'short',
  day: 'numeric'
})
const df = dateFormat.format(new Date(ndate))
---

<span class='min-w-[120px] text-zinc-400 dark:text-zinc-400'>
  <time datetime={ndate.toISOString()}> {df}</time>
</span>
