---
import FormattedDate from './FormattedDate.astro'
import type { Post } from '@/lib/types/post.type'

interface Props {
  post: Post
}

const { post } = Astro.props

const date = post.date
let day = date.getDate()
date.setDate(day + 1)
---

<FormattedDate date={date} />
<div>
  <a class='underline' data-astro-prefetch href={`/posts/${post.slug}/`}>
    {post.title}
  </a>
</div>
