---
import type { Post } from '@/lib/types/post.type'

import PostPreview from './PostPreview.astro'

interface Props {
  posts: Post[]
}

const { posts } = Astro.props
---

<div class='block'>
  {
    posts.map(p => (
      <article class='py-5'>
        <div class='flex items-start'>
          <PostPreview post={p} />
        </div>
      </article>
    ))
  }
</div>
