---
import Button from './Button.astro'
import Link from './Link.astro'

const { class: className } = Astro.props

const subscribe = {
  title: 'Subscribe to Newsletter',
  text: 'One update per week. All the latest posts directly in your inbox.',
  formUrl: '#'
}
---

{
  subscribe?.formUrl && (
    <section
      class:list={[
        'px-4 py-6 flex flex-col items-center border border-main text-center sm:px-6 sm:py-8',
        className
      ]}
    >
      {subscribe.title && (
        <h2
          class:list={[
            'w-full max-w-xl text-2xl leading-tight font-serif font-medium sm:text-4xl mb-4'
          ]}
        >
          {subscribe.title}
        </h2>
      )}

      <p class='w-full max-w-xl mb-8 text-sm leading-normal'>
        {subscribe.text}
      </p>

      <Button name='subscribe' class='w-full h-9 sm:w-auto'>
        <Link
          href='https://www.linkedin.com/newsletters/flutter-last-week-7149938382482092032/'
          class='text-main underline'
        >
          Subscribe on LinkedIn
        </Link>
      </Button>
    </section>
  )
}
